asgiref==3.2.3
beautifulsoup4==4.8.2
Django==3.0.2
django-templated-mail==1.1.1
djangorestframework==3.11.0
djangorestframework-simplejwt==4.4.0
djoser==2.0.3
psycopg2-binary==2.8.4
PyJWT==1.7.1
pytz==2019.3
soupsieve==1.9.5
sqlparse==0.3.0
django-video-encoding==0.4.0
ffmpeg==1.4
celery==4.2.0
kombu==4.6.5
django-extensions==2.1.4
eventlet==0.23.0
flower==0.9.2
djrill==2.1.0
anyjson==0.3.3
uWSGI==2.0.17
nbconvert==5.3.1
tornado==4.2